/*
    Main Style
*/

body {

    background-color: #333333;
    color: #EEEEEE;

    #background-container,
    canvas,
    #foreground-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
    }

    nav {display: hidden;}

    main {
      text-align: center;
      width: 80%;
      margin: 0 0;
    }

}
